<div class="container">
    <h3 class="text-center">Editar Cliente</h3>
    <div class="card" style="padding:1rem 2rem">
    <form [formGroup]="fgValidador" (ngSubmit)="EditarCliente()" method="post" action="">
        <input type="hidden" name="" formControlName="id" />
        <div class="input-field">
            <label>Nombres</label>
            <input formControlName="nombre" type="text" name="referencia"/>
        </div>
        <div class="input-field">
            <label>Apellidos</label>
            <input formControlName="apellidos" type="text" name="nombre"/>
        </div>
        <div class="input-field">
            <label>Correo</label>
            <input formControlName="correo" type="text" name="marca"/>
        </div>
        <div class="input-field">
            <label>Telefono</label>
            <input formControlName="telefono" type="text" name="precio"/>
        </div>
        <div class="input-field">
            <label>Direccion</label>
            <input formControlName="direccion" type="text" name="stock"/>
        </div>
        <button [disabled]="!fgValidador.valid" class="btn waves-effect waves-light" type="submit" name="action">Guardar
            <i class="material-icons right">send</i>
        </button>
    </form>
    </div>
</div>