<div class="">
    <div class="row">
        <div class="col s12 m6">
          <div class="card blue">
            <div class="card-content white-text">
              <span class="card-title">Bienvenido - Tienda deportiva</span>
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#test4">Mis pedidos</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="test4">
            <table class="table responsive">
                <thead>
                    <th>Código de pedido</th>
                    <th>Valor del pedido</th>
                    <th>Fecha del pedido</th>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>

</div>
